In [70]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
from enum import Enum

In [76]:
class Strategie(Enum):
    GARDER=0
    CHANGER=1

In [174]:
nb_tours=10
liste_porte=[np.random.choice(["voiture", "chevre", "chevre"], 3, replace=False) for i in np.arange(nb_tours)]

In [175]:
portes=pd.DataFrame(liste_porte,columns=["gauche","centrale","droite"])

In [177]:
for i in np.arange(nb_tours):
    portes.iloc[i][np.random.choice(["gauche", "centrale", "droite"])]+="_1er_choix"

In [178]:
portes

             gauche           centrale             droite
0           voiture             chevre   chevre_1er_choix
1           voiture             chevre   chevre_1er_choix
2  chevre_1er_choix            voiture             chevre
3           voiture             chevre   chevre_1er_choix
4            chevre  voiture_1er_choix             chevre
5           voiture   chevre_1er_choix             chevre
6            chevre             chevre  voiture_1er_choix
7            chevre  voiture_1er_choix             chevre
8  chevre_1er_choix            voiture             chevre
9  chevre_1er_choix             chevre            voiture

In [ ]:
for i in np.arange(nb_tours):
    portes.iloc[i][np.random.choice(["gauche", "centrale", "droite"])]+="_1er_choix"